<a href="https://colab.research.google.com/github/abess96/ineuron_assignment/blob/master/python_assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python Program to implement your own myreduce() function which works exactly like Python's built-in function reduce()

In [ ]:
def myreduce(func, values):
    result = values[0]
    for i in values[1:]:
        result = func(result, i)
    return result

In [ ]:
def func(a, b):
    return a + b

In [ ]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("My Reduce Output is:",myreduce(func, l))

My Reduce Output is: 35

2. Write a Python program to implement your own myfilter() function which works exactly like Python's built-in function filter()

In [ ]:
def myfilter(fun, values):
    result = list()
    for i in values:
        if fun(i):
            result.append(i)
    return result

In [ ]:

def fun(x):
    if x % 5 == 0:
        return True
    else:
        return False

In [ ]:
lst = [12, 15, 60, 34, 53]
print("My Filter Output is: ", myfilter(fun, lst))

My Filter Output is:  [15, 60]

3.Implement List comprehensions to produce the following lists.

3a. ['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [ ]:

l1 = ['x', 'y', 'z']
lst1 = [i*j for j in l1 for i in range(1, 5)]
print(lst1)

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

3b. ['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [ ]:
l2 = ['x', 'y', 'z']
lst2 = [i*j for j in range(1, 5) for i in l2]
print(lst2)

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

3c. [[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [ ]:
lst3 = [[x + y] for y in range(3) for x in range(2, 5)]
print(lst3)

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]


3d. [[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [ ]:
lst4 = [[a+b for b in range(2, 6)] for a in range(4)]
print(lst4)

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]


3e. [(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [ ]:
lst5 = [(p, q) for q in range(1, 4) for p in range(1, 4)]
print(lst5)

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]